* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.main {
    width: 1170px;
    margin: 100px auto;
    background-size: cover;
    background-position: center center;
  }
  .section-title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    background-size: cover;
    background-position: center center;
  }
  
  @media only screen and (max-width:700px) {
    main{
      width: 100%;
      position: absolute;
    }
  }