* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 1170px;
  margin: 20px;
  background-size: cover;
  background-position: center center;
}
.section-title {
  flex: 2;
  padding: 25px;
  position: relative;
  background-size: cover;
  background-position: center center;
}
