* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding: 0 1em;
  max-width: 60rem;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  flex-direction: center;
}

.header {
  min-height: 300px;
  display: grid;
  place-items: center;
}

.img {
  width: 70%;
}

@media all and (max-width: 1340px) {
  img {
    width: 100%;
  }
}
